<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- 
			Add FontAwesome CDN here
	-->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='/favicon.png') }}"/>

    <title>
        Comment Analyzer
    </title>
</head>



<body>
    <!-- Navbar -->
    <nav class=" navbar navbar-expand-sm navbar-dark text-white bor" id="main-nav"
        style="background-color: darkblue ; height: 60px; border-bottom:2px solid gray;">
        <div class="container text-white m-0" style="max-width: 2200px;">
            <a class="navbar-brand ml-5" href=".">
                <i class="fas fa-comments fa-lg  " style="margin-right: 10px;"></i>
                Comment Analyzer
                <small style="font-size: xx-small; color:yellow; position: relative; top: 5px;"> A sentiment Analysis
                    Project
                </small>
            </a>
            <span class="navbar-nav d-none d-lg-block">
                <span class="nav-item col text-white w-75"
                    style=" border-left: 1px solid gray !important; padding-left: 70px;">
                    <i class="fas fa-gem mr-2"
                        style="font-size: 1.5rem; position: relative; top:3px;color: rgb(255, 255, 255);"></i>
                    <span
                        style="font-size: 0.8rem; font-family:Arial, Helvetica, sans-serif;;color: rgb(255, 255, 255)">
                        Each comment determines the fate of a product
                    </span>
                </span>
            </span>


            <div class="d-none d-lg-block " id="social">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a target="_blank" class=" mr-auto" style="color:white;"
                            href="https://www.linkedin.com/in/amir-dalili-2b199b159"><i class="fab fa-linkedin fa-lg">
                            </i></a> </li>
                    <li class="nav-item"><a target="_blank" class=" mr-auto" style="color:white;"
                            href="https://github.com/amirdy/comment_analyzer"><i class="fab fa-github fa-lg  ml-3">
                            </i></a> </li>
                    <li class="nav-item"><a class=" mr-auto" style="color:white;"
                            href="mailto: amirdalili12@gmail.com"><i class="fas fa-envelope fa-lg  ml-3"> </i></a> </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="content">
        <div id="overlay">
            <div class="row w-100 m-0" style="  display: flex; align-items: center;">
                <div class="col-xl-6 offset-xl-1 col-lg-7  " id="cmnt">
                    <div id="comment-box" style="opacity: 0.93;" class="p-1">
                        <textarea style="resize: none !important ; background-color: #bfc3f7;" class="form-control "
                            rows="10" id="txt" placeholder="Please leave a comment about a product! "
                            style="opacity: 0.7;"></textarea>

                    </div>
                    <div style=" background-color: #34f; opacity: 0.94;">
                        <p class="m-0 font-weight-bold" style="text-align: center; color: yellow;" id="runP">
                            <i id='run' class="far fa-keyboard fa-lg " style="position: relative; top: 2px;"></i>
                            <span id='runArea' style="text-decoration: underline;">
                                Type your comment!
                            </span>
                        </p>
                    </div>

                    <div class="" style="opacity: 0.96; border-radius:0px; background-color: #34f;">
                        <canvas id="myChart" class="px-2"></canvas>
                    </div>
                    <div class=" "
                        style="background-color: #38c; border-radius:10px;    border-top-left-radius:  0px; border-top-right-radius:  0px;  opacity:0.95; text-align: center;">
                        <span>
                            <i id="pie" class="fas fa-chart-pie ml-1 mt-1"
                                style="color:rgb(188, 255, 2); float: left;"></i>
                        </span>
                        <span
                            style="background-color: firebrick; width: 30px; height: 10px; display: inline-block;border: 1px solid darkred;"></span>
                        <span style="color: darkred; text-decoration: underline;" id='pN' class="font-weight-bold">0.50</span>
                        <span style="color: #2EA; opacity: 0.5;bottom: 1px; position: relative;">|</span>
                        <span style="color: darkgreen;text-decoration: underline;" id='pP' class="font-weight-bold">0.50</span>
                        <span
                            style="background-color: forestgreen; width: 30px; height: 10px; display: inline-block;border: 1px solid darkgreen;"></span>

                    </div>
                    <button type="button" onclick="window.open('https://github.com/amirdy/comment_analyzer');"
                        class="btn btn-dark btn-block mt-3 mb-4 d-none" id="mobileRes" style="border-color: grey;">
                        <i class="fab fa-github-square fa-lg" style="position: relative; top:1px;"></i>
                        For more Details please see GITHUB
                    </button>



                </div>


                <div id="information"
                    class=" col-10 offset-1 col-xl-4 offset-xl-1  col-sm-10 offset-sm-1 col-lg-5 offset-lg-0 font-weight-bold card bg-primary "
                    style="padding-bottom: .4rem;opacity: 0.93;right:40px;">
                    <div id="info" class="mt-4 p-3 card text-justify  bg-primary">
                        <div class=" px-4 py-3"
                            style="color:white;border: 1px solid lightblue; border-radius: 4px; background-color: #41f;">
                            <h5 id='headCard'>
                                <i class="fas fa-comment-alt display-4 d-none"></i>
                                <span class="mb-4">
                                    <i class="bi bi-card-text "
                                        style="font-size: 3rem; position: relative; top: 9px; color: whitesmoke;"></i>
                                    <b>
                                        Comment on any product that is in your mind and see how <span
                                            style="color:#F01">Negative</span> or <span
                                            style="color: lime;">Positive</span> is your oponion about the product !
                                    </b> </span>
                            </h5>
                        </div>
                        <hr>
                        <p style="background-color: #34f;color:white; text-align: left; font-size: smaller; ;border: 1px solid dashed; border-radius: 2px; border-color: white;"
                            class="py-3 px-4 m-0">
                            <span style="font-size: large; color: yellow ;">
                                A Sequence to Sequence Network <br>(with Attention)
                            </span>
                            <br><br>
                            <span>
                                <i class="fas fa-cog mr-1" style="font-size: 1.1rem; position: relative;top:3px;"></i>
                                Encoder + EncoderToDecoder + Decoder
                                <br>
                                &nbsp;&nbsp; &nbsp; &nbsp; (Using 2-layers and Bidirectional LSTMs)
                                <br>
                            </span> <br>
                            <i class="fas fa-check mr-1" style="font-size: 1.1rem; position: relative;top:2px;"></i>
                            <a href="https://www.kaggle.com/bittlingmayer/amazonreviews/"
                                style="color: white; text-decoration: underline;"> Trained on 1M Amazon customer reviews
                                <small> click</small></a>
                            <br> <br>
                            <i class="fas fa-check-double mr-1"
                                style="font-size: 1.1rem; position: relative;top:3px;"></i>
                            Test Accuracy ~ 95% <br>

                        </p>
                    </div>
                    <button type="button" onclick="window.open('https://github.com/amirdy/comment_analyzer');"
                        class="btn btn-outline-light btn-block mt-3" id="goGit">
                        <i class="fab fa-github-square fa-lg" style="position: relative; top:1px"></i>
                        For more Details please see GITHUB</button>
                </div>

            </div>

        </div>
    </div>
</body>



<!-- Error modal -->
<button id="error" class="btn btn-warning d-none " data-toggle="modal" data-target="#mySrvModal" >modal1  </button> 
<div class="modal " id="mySrvModal">
    <div class="modal-dialog">
        <div  class="modal-content " >
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title "> Server Error</h5>
                <button class="close btn-danger" data-dismiss="modal">&times;</button>
            </div>
            <div  class="modal-body p-4" style="font-size: larger;background-color: #fff; color: #f02;">
                <i class="fas fa-times fa-lg mr-1" style="color: #F61; "></i>
                   Server Error :( <br>
                      <u><small>Please try again.</small> </u> 
            </div>  
            <div class="modal-footer">
                <button class="btn btn-outline-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Welcome modal -->
<button id="wlcm" class="btn btn-danger d-none  " data-toggle="modal" data-target="#welcome">modal1 </button>
<div class="modal fade" id="welcome">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title ">
                    <i class="fas fa-hand-peace fa-lg px-2" style="color: ;"></i>
                    Welcome
                </h5>
            </div>
            <div class="modal-body p-4 " style="background-color: #eff; ">
                <span class="font-weight-bold">This Project is called <u>Comment Analyzer</u> which is a sentiment
                    analysis project.<br></span>
                <ol style="text-align:justify">
                    <li>Consider a product in your mind</li>
                    <li>Leave your comment about that.</li>
                    <li>See the result.</li>
                </ol>
                <hr>
                <i class="far fa-lightbulb pr-1"></i>
                <b>What is the result:</b> <br>
                <p style="text-align:justify">
                    The result indicates whether your comment on the product was <u><b>Positive</b></u> or <u>
                        <b>Negative</b></u><b> (with their probabilities)</b>. It shows whether you are <b>Satisfied</b>
                    with the product or <b>Not</b>.
                </p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-info font-weight-bold w-100" data-dismiss="modal">
                    Go
                </button>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/underscore@1.12.1/underscore-min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/myScripts.js') }}"></script>

</html>
